<ion-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline"
                    ng-click="data.showDelete = !data.showDelete"></button>
        </div>
        <h1 class="title">Addtech-Lista de Clientes</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-list-outline" ng-click="sortType = 'nome'; sortReverse = !sortReverse" ></button>           
        </div>
    </ion-header-bar>

    <ion-content>         

        <div>
            <ion-list show-delete="data.showDelete">
                <ion-item  ng-repeat="cl in clientes | orderBy:sortType:sortReverse " class = "item-remove-animate"/> 
                <img  ng-src="data:image/jpeg;base64,{{cl.foto}}" id="myImage" /><br/>
                Nome:{{cl.nome}}<br/>
                ID:{{cl.id}}
                <a class="button button-icon icon ion-edit" ng-click="irAlterarDados(cl)"></a>  
                <a class="button button-icon icon ion-images" ng-click="irAlbum()"></a> 
                
                <ion-delete-button class="ion-minus-circled" 
                                   ng-click="onItemDelete(cl)">
                </ion-delete-button>
        </div>
        <button class="button button-block button-royal" ng-click="voltarMain()">
            Voltar
        </button>
    </ion-content> 
</ion-view>