<ion-view>

    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Addtech</h1>        
    </ion-header-bar>
    <ion-content class="has-header">        
        <button class="button button-block  button-large button-dark" ng-click="formCliente()">
                Cadastrar Cliente
        </button>
        <button class="button button-block  button-large button-dark" ng-click="listCliente()" >
                Consultar Cliente
        </button>       
    </ion-content>
</ion-view>