<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Addtech-Localização</h1>        
    </ion-header-bar>
    <ion-content>
        
       <div id="map-canvas" style="width:100%; height:30%"></div><br/>
       
         <button class="button button-block button-balanced" ng-click="pegandoSuaLocalizacao()">
            Localizar
        </button>
        <button class="button button-block button-royal" ng-click="voltarMain()">
            Voltar
        </button>
    </ion-content>

</ion-view>